@import url('https://fonts.cdnfonts.com/css/gilroy-bold');

.root{
    background-color: #fdfdfd;
    font-family: 'Gilroy-Regular', sans-serif;
}

.header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    padding:6px;
    border-bottom: 1px solid gray;
}

.logo-img{
    width:120px;
}

.header > ul{
    list-style-type: none;
    display:flex;
    align-items: center;
}

.header > ul > li{
    margin-right: 5px;
    padding:4px;
    cursor:pointer;
}

.header > ul > li:hover{
    color:#f02d41;
}

.header > ul > li > button{
    padding:8px;
    letter-spacing: 0.95;
    background-color: #fdfdfd;
    border-color: #f02d41;
    color:#f02d41;
    border-radius: 6px;
}

.header > ul > li > button:hover{
    background-color:#f02d41;
    color:#fdfdfd;
    cursor:pointer;
}

.header > ul > li > a{
    text-decoration: none;
    color: black;
}

.header > ul > li > a:hover{
    color:#f02d41;
}

.search{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
    /* border-bottom: 1px solid #f02d41; */
}

.search > input{
    height:24px;
    width:280px;
    padding :4px;
    color: black;
    border-radius:4px;
    font-family: 'Gilroy-Regular',sans-serif;
    border:1px solid grey;
    margin:0px 6px;
}
.search > input:focus{
    outline-color:#f02d41;
}
.search > button{
    height:30px;
    padding:6px;
    width:80px;
    background-color: #f02d41;
    border:2px solid #f02d41;
    color:white;
    text-align: center;
    letter-spacing: 0.6;
    font-size: 16px;
    border-radius: 12px;
    cursor:pointer;
}

.search > button:hover{
    background-color: white;
    color:#f02d41;
}

.filters > button{
    height:30px;
    border: 1px solid black;
    border-radius: 50px;
    padding:6px;
    background-color: #fdfdfd;
    cursor: pointer;
    font-family:'Gilroy-Bold', sans-serif ;
    margin:0px 4px;
    letter-spacing: 1;
}

.filters > button:hover{
    background-color: #f54254;
    border-color: #f54254;
    color: #fdfdfd;
}

.homepage-body-container{
    display:flex;
    width:80%;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    margin: 5px auto;
    padding:8px;
}

.homepage-body-container > a{
    text-decoration: none;
    color:black;
}

.restaurant-card{
    width:240px;
    padding:5px;
    box-sizing: border-box;
    cursor:pointer;
    transition: transform 0.3s ease, border-color 0.3s ease;
}
.restaurant-card:hover{
    transform: scale(0.95);
}

.restaurant-image{
    width:100%;
    height:140px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 6px;
}

.restaurant-card-title{
    font-family: 'Gilroy-Bold', sans-serif;
}

.restaurant-card-subtitle{
    color:#717171;
    margin:0px;
    margin-bottom: 2px;
}

.shimmer-card{
    width:240px;
    height:240px;
    padding:5px;
    box-sizing: border-box;
    cursor:pointer;
    background-color: #717171
}

.shimmer-card-img{
    width:100%;
    height:140px;
    border-radius: 6px;
    background-color: #717171;
}

.shimmer-card-text{
    background-color: #717171;
    width:60%;
}